*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#header{
    width: 100%;
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav .fas{
    padding: 0 0 0 12px;
}
#header .search-btn{
    float: right;
    line-height: 46px;
    cursor: pointer;
}
#header .nav-search{
    color:white;
    padding: 0 20px;
}
#header .search-btn:hover{
    background-color: red;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li:hover > a,
#nav #navbar li:hover{
    background-color: #ccc;
    color: black;
}
#nav > li:hover #navbar{
    display: block;
}
#nav li a{
    text-decoration: none;
    display: inline-block;
    padding:0 24px;
    line-height: 46px;
}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}
#nav #navbar{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    top: 100%;
    left: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
#nav #navbar a{
    color: black;
    display: inline-block;
    font-size: 18px;
    padding: 0 0 0 12px;
    line-height: 45px;
}
#nav #navbar li{
    list-style: none;
}

#slide{
    margin-top: 46px;
    padding-top: 50%;
    background: url(https://www.w3schools.com/w3css/img_la.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.text-content{
    position: absolute;
    color: white;
    bottom: 47px;
    width: 100%;
    text-align: center;
}
.text-content h2{
    font-weight: 500;
    margin: 20px;
}
.text-content p{
    font-weight: 400;
    font-size: 18px;
}
#content{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
#content .content-section{
    padding: 64px 16px 0;
    
}
#content .content-section .section-heading{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0;
    font-size: 30px;
}
#content .content-section .section-sub-heading{
    text-align: center;
    margin: 15px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}
#content .content-section .about-text{
    font-size: 15px;
    margin: 15px 0;
    line-height: 22.5px;
    text-align: justify;
}
.member-list{
    padding: 32px 0;
}
.member-items{
    float: left;
    width: calc(100%/3);
    text-align: center;
}
.member-items .member-name{
    margin: 15px 0;
}
.member-items-img{
    width: 60%;
    margin: 0 0 80px;
    border-radius: 10px;
}