*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#header{
    width: 100%;
    height: 46px;
    background-color: black;
    position: fixed;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li:hover > a,
#nav #navbar li:hover{
    background-color: #ccc;
    color: black;
}
#nav > li:hover #navbar{
    display: block;
}
#nav li a{
    text-decoration: none;
    display: inline-block;
    padding:0 24px;
    line-height: 46px;
}
#nav > li > a{
    color: pink;
    text-transform: uppercase;
}
#nav #navbar{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    top: 100%;
    left: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
#nav #navbar a{
    color: black;
    display: inline-block;
    font-size: 18px;
    padding: 0 0 0 12px;
    line-height: 45px;
}
#nav #navbar li{
    list-style: none;
}