*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.member-list{
    padding: 32px 0 32px 0;
}
#header{
    width: 100%;
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav .fas{
    padding: 0 0 0 12px;
}
#header .search-btn{
    float: right;
    line-height: 46px;
    cursor: pointer;
}
#header .nav-search{
    color:white;
    padding: 0 20px;
}
#header .search-btn:hover{
    background-color: red;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li:hover > a,
#nav #navbar li:hover{
    background-color: #ccc;
    color: black;
}
#nav > li:hover #navbar{
    display: block;
}
#nav li a{
    text-decoration: none;
    display: inline-block;
    padding:0 24px;
    line-height: 46px;
}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}
#nav #navbar{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    top: 100%;
    left: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
#nav #navbar a{
    color: black;
    display: inline-block;
    font-size: 18px;
    padding: 0 0 0 12px;
    line-height: 45px;
}
#nav #navbar li{
    list-style: none;
}

#slide{
    margin-top: 46px;
    padding-top: 50%;
    background: url(https://www.w3schools.com/w3css/img_la.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.text-content{
    position: absolute;
    color: white;
    bottom: 47px;
    width: 100%;
    text-align: center;
}
.text-content h2{
    font-weight: 500;
    margin: 20px;
}
.text-content p{
    font-weight: 400;
    font-size: 18px;
}
#content{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
.content-section{
    padding: 10px 0;
}
.section-heading{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0;
    font-size: 30px;
}
.section-sub-heading{
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}
#content .content-section .about-text{
    font-size: 15px;
    margin: 15px 0;
    line-height: 22.5px;
    text-align: justify;
}

.member-items{
    padding: 32px 0;
    text-align: center;
    display: flex;
}
.member-item{
    list-style: none;
    width: calc(100%/3);
    display: inline-block;
}
.member-item .name{
    margin: 15px 0;
    font-size: 15px;
}
.member-item .item-img{
    margin: 0 0 16px;
    width: 60%;
    border-radius: 10px;
}
.tourdates{
    width: 100%;
    background-color: black;
}
.tickets{
    border: 1px;
}
.tourdates #content .content-section .section-heading,
.tourdates #content .content-section .section-sub-heading
{
    color: white;
}
.tickets .ticket{
    list-style: none;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 22.5px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    background-color: white;
}
.ticket .spanleft{
    background-color: red;
    color: white;
    padding: 0 8px;
    margin: 0 16px;
}
.ticket #spanright{
    float: right;
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 0 8px;
    margin: 0 16px 0 0;
}
.buytickets{
    padding: 32px 0;
    margin: 0 -8px;
    display: flex;
}
.locations{
    background-color: white;
    margin: 0 8px;
    float: left;
}
.img-ticket{
    position: relative;
}
.img-ticket img{
    width: 100%;
}
.img-ticket .box{
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background-color: black;
    opacity: 0.4;
    position: absolute;
}
.img-ticket:hover .box{
    display: block;
}
.location{
    padding: 0 16px;
}
.locations h3{
    padding: 15px 0;
    width: 300;
}
.locations .date,
.locations .sub-date{
    padding-bottom: 15px;
}
.locations .date{
    opacity: 0.6;
}
.locations section{
    display: inline-block;
    color: white;
    background-color: black;
    padding: 8px 16px;
    margin: 0 0 16px 0;
}
.locations section:hover{
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.row{
    padding: 32px 0;
    display: flex;
}
.row .row-left{
    width: 50%;
    margin: 0 0 16px 0;
}
.row .row-left li{
    list-style: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.row .row-left li i{
    margin: 0 15px 0 0;
    width: 18px;
}
.row .row-right{
    width: 50%;
}
.row .row-right ul{
    display: flex;
    margin: 0 -8px 8px;
    justify-content: space-between;
}
.row .row-right ul li{
    padding: 0 8px;
    width: 100%;
    list-style: none;
}
.row .row-right ul li input{
    font-style: 15px;
    padding: 8px;
    height: 40px;
    width: 100%;
    border: 1px solid rgb(204,204,204);
}
.row-right > input{
    width: 100%;
    font-style: 15px;
    padding: 8px;
    height: 40px;
    border: 1px solid rgb(204,204,204);
}
.row-right section{
    top: 100%;
    text-align: right;
    margin-top: 32px;
    margin-bottom: 16px;
}
.row-right section a{
    color: white;
    text-transform: uppercase;
    background-color: black;
    text-decoration: none;
    padding: 8px 16px;
}
.row-right section a:hover{
    background-color: #ccc;
    color: black;
}
.map img{
    width: 100%;
    height: 50%;
    bottom: 0;
    opacity: 0.8;
}
.end .content-section{
    text-align: center;
    opacity: 0.6;
}
.end .content-section i{
    font-size: 23px;
}
.end .content-section p{
    margin: 15px 0;
}
.end .content-section p a{
    color: black;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;
}
.modal-container{
    background-color: white;
    position: absolute;
    top: 15%;
    width: 65%;
    min-height: 200px;
}
.modal-header{
    width: 100%;
    min-height: 130px;
    background-color: rgb(0,150,136);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-header > i{
    margin: 0 16px 0 0;
    font-size: 30px;
    color: white;
}
.modal-header h1{
    margin: 10px 0;
    font-size: 30px;
    color: white;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
}
.modal-close{
    font-size: 24px;
    color: white;
    position: absolute;
    padding: 8px 16px;
    top: 0;
    right: 0;
    cursor: pointer;
}
.modal-close:hover{
    color: red;
}
.modal-body{
    padding: 0 16px 16px 16px;
}
.modal-lable{
    display: flex;
    font-size: 15px;
    margin: 15px 0;
    align-items: center;
}
.modal-lable i{
    padding: 0 2px 0 0;
}
.modal-body input{
    padding: 8px;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    display: inline;
}
.modal-body .modal-pay{
    margin: 16px 0;
    cursor: pointer;
    font-size: 15px;
    padding: 16px;
    color: white;
    text-align: center;
    justify-content: center;
    background-color: rgb(0,150,136);
}
.modal-body .modal-pay:hover{
    background-color: rgb(204, 204, 204);
    color: black;
}
.modal-body .modal-pay i{
    margin: 0 0 0 5px;
}
.modal-footer{
    padding: 15px 0;
    text-align: right;
}
.modal-footer a{
    color: #2196f3;
}